.Header{
    display: flex;
    text-align: center;
    background-color: #a0f8a0;
    height: 15%;
    width: 100%; 
    
}
 
.Header img {
    width: 14vh; 
    margin-right: 10px; 
  }

.Header li{
    display:inline-block;
    text-align: center;
    margin: 30px;
    margin-left: 150px;
    margin-top: 80px;
}
